<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.11.43" targetFramework="net48" />
  <package id="Interop.UIAutomationClient" version="10.19041.0" targetFramework="net48" />
  <package id="itext.font-asian" version="8.0.3" targetFramework="net48" />
  <package id="itext7.font-asian" version="8.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.Features" version="6.0.7" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.1293.44" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="OpenMcdf" version="2.2.1.12" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.8.9" targetFramework="net48" />
  <package id="RtfPipe" version="2.0.7677.4303" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Console" version="4.3.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net48" />
</packages>